@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#startCountdown";

#{getContainerId()} {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .95);

    .countdown {
        display: flex;

        .countdown-elmt {
            margin: 0 4.2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: giftNumberFont;
                font-size: 2.2rem;
                color: #000;
                text-align: center;
                margin: 0;
            }

            p {
                font-weight: bold;
                text-align: center;
                margin-top: -.5rem;
            }
        }
    }
}