@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#giftPopup";

#{getContainerId()} {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateY(-100%);
    animation: giftPopupApparition 1s forwards;
    animation-delay: #{$GIFT_OPEN_ANIMATION_DURATION}ms;
    z-index: 100;

    &.diparition-animation {
        animation: giftPopupDisparition 1s forwards;
    }

    .go-back-icon {
        position: absolute;
        font-size: 1.5em;
        top: .5em;
        left: .5em;
    }

    #{getChildrenId("content")} {
        margin: 10px;
    }
}

@keyframes giftPopupApparition {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes giftPopupDisparition {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}