@import "../../../styles/toolsBundler.scss";

.popups-ctn {}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;

    &.show {
        display: inline;
        animation: popupApparition 500ms;
    }

    &.hidde {
        animation: popupDisparition 500ms forwards;
    }

    .popup-header {
        display: flex;
        align-items: center;
        background-color: $POPUP_HEADER_COLOR;
        color: #fff;
        min-height: 7%;

        h1 {
            padding: 0 !important;
            font-size: 1.5em;
            margin: 0 !important;
            margin-left: .5em !important;
            line-height: initial;
        }

        .go-back-icon {
            font-size: 1.4em;
            margin-left: .4em;
        }
    }

    .popup-body {
        min-height: 100%;
    }
}

.popup-body {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 20vh;
}


@keyframes popupApparition {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes popupDisparition {
    from {
        display: inline;
        transform: translateX(0);
    }


    to {
        display: none;
        transform: translateX(100vw);
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    .popup {
        .popup-body {
            padding-right: 20vw;
            padding-left: 20vw;
        }
    }
}