@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#loadingAnimation";

$svgPrefix_candyCane : "candyCane_svg__";

#{getContainerId()} {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    animation: #{$svgPrefix_candyCane}smoothTopApparition 0.4s forwards;
    z-index: 100;

    svg {
        width: 20vw;

        ##{$svgPrefix_candyCane}candyCane1 {
            @for $i from 1 through 5 {
                ##{$svgPrefix_candyCane}color#{$i} {
                    animation: #{$svgPrefix_candyCane}blink 0.8s infinite;
                    animation-delay: #{random()}s;
                }
            }
        }

        ##{$svgPrefix_candyCane}candyCane2 {
            @for $i from 1 through 6 {
                ##{$svgPrefix_candyCane}color#{$i} {
                    animation: #{$svgPrefix_candyCane}blink 0.4s infinite;
                    animation-delay: #{abs(random() - 0.5)}s;
                }
            }
        }
    }
}

@keyframes #{$svgPrefix_candyCane}blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes #{$svgPrefix_candyCane}smoothTopApparition {
    0% {
        transform: translateY(-20px);
        opacity: 0.3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    #{getContainerId()} {
        svg {
            height: 15vh;
        }
    }

}