@import "../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#changePwdPopup";

#{getContainerId()} {

    .card-body {
        border: none;
        padding-top: 0;
    }

    h2 {
        margin-top: 1.5em;
        font-size: 1.5em;
    }

    button {
        margin-top: 60px;
    }
}