@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#simpleModal";

#{getContainerId()} {
    .alert {
        margin-top: 2.5em;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        .alert {
            margin: 0 20vw;
        }
    }

}