@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#userGiftsPage";

#{getContainerId()} {

    #{getChildrenId("giftsList")} {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline-start: 0;

        li {
            width: 100%;
            display: flex;
            align-items: center;

            p {
                margin-bottom: 0;
            }

            .day {
                min-width: 1em;
                font-family: giftNumberFont;
                font-size: 1.8em;
                margin-right: .6em;
            }

            .recovered,
            .not-recovered {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                p {
                    display: none;
                    margin-left: .1em;
                }

                .fa-icon {
                    font-size: 1.5em;
                }
            }

            .recovered {
                color: #4CAF50;
            }

            .not-recovered {
                color: $IA_COLOR_GOLD;
            }

            .sponsor {
                flex-grow: 1;

                p {
                    width: fit-content;
                    padding: 0 .3em;
                    border-radius: .2em;
                    transform: skew(-10deg);
                    font-weight: bold;
                    background-color: $IA_COLOR_GOLD;
                    color: #000;
                }
            }
        }
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #{getChildrenId("giftsList")} {

            li {

                .recovered,
                .not-recovered {
                    padding: .1em .2em;
                    border-radius: .4em;

                    p {
                        display: inline-block;
                    }

                    .fa-icon {
                        font-size: 1em;
                    }
                }


                .recovered {
                    background-color: #C8E6C9;
                }

                .not-recovered {
                    background-color: #FFF3E0;
                }

            }
        }
    }
}