@import "../../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#textTemplate";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2em;

    h1 {
        font-size: 1.4rem;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} { }
}