@import "../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#gift_404";

#{getContainerId()} {
    margin-top: 20%;

    .opened-empty-gift {
        width: 50vw;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 1em;
        text-align: center;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    #{getContainerId()} {
        margin-top: 5%;

        .opened-empty-gift {
            width: 20vw;
        }

    }

}