@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#sponsorsPage";

#{getContainerId()} {

    .sponsors-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 1em 0;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {

        .sponsors-container {
            padding: 0 10%;
        }
    }

}