@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#contactPage";

#{getContainerId()} {
    .card-body {
        border: none;
        padding-top: 0;

        textarea {
            margin-top: 10px;
        }
    }

    #{getChildrenId("charactersCounter")} {
        text-align: right;
        color: green;
    }

    button {
        margin-top: 1em;
    }
}