@import "../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#gift_wallpaper";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.4rem;
    }

    #{getChildrenId("wallpaper")} {
        max-width: 60vw;
        box-shadow: 0 0 10px #888;
        border-radius: 1rem;
    }
}