@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#sponsorContainer";

.sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: .6em;
    padding: .2em 1em;
    padding-top: .5em;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, .2);
    border-radius: .2em;

    &.gold {}

    img {
        max-width: 100%;
    }

    h2 {
        margin-top: .8em;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    .sponsor-container {
        width: 25%;

        img {
            width: 80%;
        }
    }

}