@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#sponsorDivider";

.sponsor-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;

    .sponsor-divider-stars {
        display: flex;
    }

    .sponsor-divider-line {
        width: 100%;
        height: .25em;
        background-color: #000;
        margin: 0 .7em;
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    .sponsor-divider {
        padding: 0 35%;
    }

}