@import '../../../../assets/styles/toolsBundler.scss';
$pageId: "calendarPage";

$CONTAINER_ID: "#calendarPage";

#{getContainerId()} {

    #{getChildrenId("title")} {
        font-size: 3em;
        font-family: christmasFont;
        text-align: center;
        font-weight: 900;
    }

    #{getChildrenId("calendar")} {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #{getChildrenId("title")} {
            font-size: 5em;
        }
    }

}