@import "../../../../styles/toolsBundler.scss";

$CONTAINER_ID: "#sidebar";


#{getContainerId()} {
    display: none;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 6vh);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    margin-top: -2px; // Need this style to remove the small white line between navbar and sidebar

    nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        min-width: 60vw;
        max-width: 70vw;
        height: 100%;
        background-color: #343A40;
        animation: apparitionSidebarAnimation 0.5s;

        .notification-badge {
            border-color: #343A40;
        }

        .nav-item {
            cursor: pointer;

            &.active {
                // TODO: Need better design for active nav-item
                text-decoration: underline;
            }
        }

        #{getChildrenId("pseudoHeader")} {
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #{getChildrenId("avatar")} {
                height: 8vh;
                width: 8vh;
                border-radius: 50%;
                box-shadow: 0 0 20px #000;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-content: center;

                img {
                    width: 70%;
                }
            }

            .pseudo {
                margin-top: 7%;
                text-align: center;
                font-size: 1.2rem;
            }
        }

        .nav-link {
            padding-left: 20px;
            font-size: 1rem;

            .fa-icon {
                margin-right: 3%;
                font-size: 1.2rem;
            }

            svg {
                max-width: 15%;
            }
        }

        .dropdown-item {
            svg {
                max-width: 30%;
                margin-right: 5%;
            }
        }

        #{getChildrenId("appVersionCtn")} {
            margin-top: auto;
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;

            #{getChildrenId("appVersion")} {
                padding: 0 .3em;
                border-radius: .2em;
                transform: skew(-10deg);
                font-size: .8em;
                font-weight: bold;
                background-color: $IA_COLOR_GOLD;
                color: #000;
            }

            #{getChildrenId("appVersionTag")} {
                position: absolute;
                padding: 0 .3em;
                right: .5em;
                font-size: .8em;
                font-weight: bold;
                color: rgba(255, 255, 255, 0.3);
            }
        }


    }
}



@keyframes apparitionSidebarAnimation {
    from {
        transform: translateX(-70vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes disparitionSidebarAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-70vw);
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        nav {
            min-width: 20vw;

            .dropdown-item,
            .nav-link {
                svg {
                    max-width: 30px;
                }
            }
        }
    }
}