@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#calendarDay";
$GIFT_PARTICULES_NUMBER: 14;
$PARTICULES_COLORS:(1:#DD2A1B, 2:#0E53A3, 3:#FFAC00);

.calender-day {
    position: relative;
    width: 19vw;
    height: 22vw;
    margin: 1.5vh 3vw;

    svg {
        overflow: visible;
    }

    #{getChildrenId("giftParticules")} {
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 15%;
            fill: blue;
            opacity: 0;
            animation: particuleGlowAnimation 1500ms infinite;
            transition-duration: 1000ms;
            $animationDelay: 0;

            @for $i from 1 through $GIFT_PARTICULES_NUMBER {
                &:nth-child(#{$i}) {
                    fill: map-get($PARTICULES_COLORS, random(3));
                    animation-delay: #{$animationDelay}ms;
                    transform: translate(#{percentage(random()*6.5)}, #{percentage(random()*6.5)});
                }

                $animationDelay: $animationDelay+600;
            }
        }
    }

    &.opening-animation:not(.open) {
        animation: rubberBand #{$GIFT_OPEN_ANIMATION_DURATION}ms;
        transition-duration: #{$GIFT_OPEN_ANIMATION_DURATION}ms;

        #{getSvgComponentId("gift.svg", "gift")} {
            #{getSvgComponentId("gift.svg", "giftCover")} {
                $giftCoverAnimationDuration: 200ms;
                animation: openGiftCoverAnimation #{$giftCoverAnimationDuration} forwards;
                transition-duration: #{$giftCoverAnimationDuration};
                animation-delay: 300ms;
            }
        }
    }

    &.locked {
        &.locked-animation {
            animation: wobble 0.5s;
        }
    }

    &.open {
        opacity: 0.8;
    }

    #{getSvgComponentId("gift.svg", "gift")},
    #{getSvgComponentId("openedGift.svg", "openedGift")} {
        position: absolute;
        bottom: 0;
    }


    h3 {
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
        font-family: giftNumberFont;
        font-size: 2rem;
        bottom: -.2rem;
        color: #000;
        text-shadow: 3px 3px #fff;
    }
}

@keyframes particuleGlowAnimation {
    0% {
        opacity: 0;
    }

    50% {
        top: -10%;
        opacity: .6;
    }

    100% {
        top: -10%;
        opacity: 0;
    }
}

@keyframes openGiftCoverAnimation {
    0% {}

    100% {
        transform: translateY(-8%) rotateZ(-20deg);
    }
}

// Animation from animate.css -> https://daneden.github.io/animate.css/
@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

// Animation from animate.css -> https://daneden.github.io/animate.css/
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    .calender-day {
        width: 8vw;
        height: 10vw;
    }

}
