@import "../../../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#giftSponsor";

#{getContainerId()} {
    align-self: flex-end;
    color: #000;

    p {
        span {
            margin-left: .2em;
            padding: 0 .3em;
            border-radius: .2em;
            transform: skew(-10deg);
            font-weight: bold;
            background-color: $IA_COLOR_GOLD;
            color: #000;
        }
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {}
}