@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#settingsPage";

#{getContainerId()} {
    #{getChildrenId("settingsCtn")} {
        margin-top: 3em;

        .card.section {
            margin: .8em 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1.25em;

            h2 {
                font-size: 1.4em;
                margin-bottom: 0;
            }

            .btn {
                font-size: .85rem;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                padding: 0;

                button {
                    margin-top: 20px;
                }
            }
        }

        #{getChildrenId("language")} {
            svg {
                width: 2em;
                border-radius: .1em;
            }

            .dropdown-menu {
                svg {
                    margin-right: .6em;
                }
            }

            #{getChildrenId("langFlagDropdown")} {
                padding: 0;
            }
        }
    }
}