@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#serverErrorModal";

#{getContainerId()} {

    .alert {
        margin-top: 2.5em;
        text-align: center;
    }

}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        .alert {
            margin: 0 20vw;
        }
    }
}