@import "../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#loginPage";

#{getContainerId()} {
    flex-direction: column;

    #{getChildrenId("languageSelection")} {
        position: absolute;
        top: .5em;
        right: 1em;

        .dropdown-menu {
            min-width: 0;
        }

        svg {
            width: 2em;
            border-radius: .1em;
        }
    }

    #{getChildrenId("iconCtn")} {
        display: flex;
        justify-content: center;
        padding-bottom: 4vh;

        svg {
            width: 40vw;
        }
    }

    #{getChildrenId("appPresentation")} {
        margin-top: 3em;
        margin-bottom: 2em;

        h2 {
            font-size: 1.7em;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            background-color: $IA_COLOR_GOLD;
            padding: 0 .2em;
            border-radius: .2em;
        }

        .accordion {
            margin: 3em 0;

            .card-body {

                ul {
                    padding-inline-start: 2em;
                }

                p {
                    font-size: 1.3em;
                }

                li {
                    margin-top: 1em;
                    list-style: initial;

                    .warning {
                        font-size: .9em;
                        background-color: #F8D7DA;
                        border-radius: .2em;
                        padding: .2em;
                    }
                }
            }
        }
    }


    #{getChildrenId("formCtn")} {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        #{getChildrenId("form")} {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        #{getChildrenId("buttonCtn")} {
            display: flex;

            button {
                box-shadow: none;

                &.btn-primary {
                    border-bottom: 2px solid #222;
                }

                &:not(.btn-primary) {
                    background-color: rgb(247, 243, 243);
                }

                &:nth-child(1) {
                    border-radius: .3rem 0 0 0;
                }

                &:nth-child(2) {
                    border-radius: 0 .3rem 0 0;
                }
            }
        }
    }

}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {

        #{getChildrenId("languageSelection")} {
            right: 2em;
        }

        #{getChildrenId("iconCtn")} {
            svg {
                width: 40vh;
            }
        }

    }
}