@import "../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#userProfilPage";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;

    #{getChildrenId("avatar")} {
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        box-shadow: 0 0 20px #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
            width: 70%;
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 100px;
    }

    .card.section {
        border: none;
        border-top: 2px solid #e5e5e5;
        width: 100%;
        display: flex;

        .btn {
            position: absolute;
            top: 1.25em;
            right: 1.25em;
            font-size: .85rem;
        }
    }

    #{getChildrenId("advancedSectionCollapse")} {
        div:not(#faIconCtn) {
            display: flex;
            flex-direction: column;

            button {
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #{getChildrenId("avatar")} {
            height: 15vh;
            width: 15vh;
            border-radius: 50%;
            box-shadow: 0 0 20px #000;
        }

        h1 {
            margin-top: 20px;
        }

        .card.section {
            width: 70%;
        }
    }
}