@import "../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#forgetPwdPopup";

#{getContainerId()} {

    .card-body {
        border: none;
        padding-top: 0;

        i {
            font-weight: bold;
            font-style: normal;
            background-color: rgba(0, 0, 0, .05);
            padding: 0 .2em;
            border-radius: .2em;
        }
    }

    button {
        margin-top: 50px;
    }
}