@import "../../../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#wallpaperTemplate";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2em;

    h1 {
        font-size: 1.4rem;
    }

    img {
        margin: 2em 0;
        max-width: 60vw;
        box-shadow: 0 0 10px #888;
        border-radius: .4em;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {

        img {
            max-width: 30vw;
        }

    }
}