// TODO: Same styles that signInForm -> Combine
@import "../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#loginForm";

#{getContainerId()} {

    .form-group {
        display: flex;
        align-items: center;

        i {
            margin-right: 20px;
            font-size: 50px;
        }
    }


    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login-form-1 {
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-1 h3 {
        color: #333;
        margin-bottom: .75em;
    }

    .login-container form {
        padding: 10%;
    }

    .forget-pwd {
        text-align: right;
    }


    .btn {
        width: 50%;
        padding: 1.5%;
    }

    .login-form-1 .btnSubmit {
        font-weight: 600;
    }

    .login-form-1 .ForgetPwd {
        color: #000;
        font-weight: 600;
        text-decoration: none;
    }
}