@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#navbarCtn";

#{getContainerId()} {
    #{getChildrenId("navbar")} {
        width: 100%;
        top: 0;
        padding: .3rem 1rem;
        min-height: 7vh;
        background-color: $NAVBAR_BG;
        z-index: 99;

        #{getChildrenId("toogleSidebarBtn")} {
            padding-left: 0;
            z-index: 99;
        }

        #{getChildrenId("burger")}.hamburger {
            cursor: pointer;
            margin: auto;
            transform: rotate(0);
            transition: .5s ease-in-out;
            -webkit-transform: rotate(0);
            width: 9vw;
            height: 7vw;

            div {
                background: #fff;
                border-radius: 9px;
                display: block;
                height: 20%;
                left: 0;
                position: absolute;
                transform: rotate(0);
                transition: .25s ease-in-out;
                -webkit-transform: rotate(0);
                width: 100%;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 40%;
                }

                &:nth-child(4) {
                    top: 80%;
                }
            }

            &.open div:nth-child(1),
            &.open div:nth-child(4) {
                left: 50%;
                top: 18px;
                width: 0%;
            }

            &.open div:nth-child(2) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.open div:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        .navbar-brand {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100%;
            color: #fff;

            svg {
                width: 11vw;
                padding: .1em;
                border-radius: .07em;
            }

            p {
                margin: 0;
                margin-left: .3rem;
            }
        }
    }
}




@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #{getChildrenId("navbar")} {
            min-height: 7vh;

            #{getChildrenId("burger")}.hamburger {
                width: 4vh;
                height: 3vh;
            }

            .navbar-brand {
                svg {
                    height: 4vh;
                    width: initial;
                }
            }

            #{getChildrenId("toogleSidebarBtn")} {
                padding: 0;

                .btn {
                    width: 60px;
                }

                span {
                    height: 5px;
                }

                span+span {
                    margin-top: 8px;
                }
            }
        }
    }
}