// Write here new boostrap styles 
// that you want to overwrite 

.navbar-dark .navbar-toggler {
    border: none;
}

.btn {
    cursor: pointer;

    &.btn-gold {
        background-color: $IA_COLOR_GOLD !important;

        &:active,
        &:focus {
            outline: $IA_COLOR_GOLD !important;
            outline-color: $IA_COLOR_GOLD !important;
            border-color: $IA_COLOR_GOLD !important;
            box-shadow: $IA_COLOR_GOLD !important;
        }

        color: #000 !important;
    }
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 95vw;
    }
}