@import "./variables.scss";
@import "./myBoostrap.scss";

// IMPORT FONTS
@font-face {
    font-family: giftNumberFont;
    src: url('../fonts/Iceberg.ttf');
}

@font-face {
    font-family: defaultFont;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: christmasFont;
    src: url('../fonts/Santiago.ttf');
}

// IMPORT FONTS


html {
    min-height: 100vh;
    font-size-adjust: none;
    font-size: 3.8vw;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    font-family: "defaultFont" !important;

    main {
        overflow: hidden;
        height: 100vh;
    }

    button:focus {
        outline: 0;
    }

    .clickable,
    .clickable-effect {
        transition-duration: 0.2s;
        cursor: pointer !important;
    }

    .clickable-effect:hover {
        transform: scale(1.03);
    }

    ul li {
        list-style: none;
    }

    .circle {
        border-radius: 50%;
    }

    .hide {
        display: none;
    }

    .radius-s {
        border-radius: 10px;
    }

    .radius-l {
        border-radius: 20px;
    }

    .bg-blue {
        background-color: $blue;
    }

    .bg-green {
        background-color: $green;
    }

    .bg-lightBlue {
        background-color: $blue;
    }

    .bg-orange {
        background-color: $orange;
    }

    .bg-lightRed {
        background-color: $lightRed;
    }

    // BUTTON ZONE
    .btn-gold {}

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-space-between {
        justify-content: space-between;
    }

    .align-center {
        justify-content: center;
    }

    .center-items {
        padding: 0 20px;
        align-items: center;
    }

    .margin-top {
        margin-top: 20px;
    }

    .margin-top-xl {
        margin-top: 30px;
    }

    .margin-top-xxl {
        margin-top: 60px;
    }

    .half-width {
        width: 50%;
    }

    .margin-bottom-xs {
        margin-bottom: 5px !important;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    .margin-bottom-xl {
        margin-bottom: 30px;
    }

    .margin-bottom-xxl {
        margin-bottom: 60px;
    }

    .margin-side {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-side-xxl {
        margin-left: 30px;
        margin-right: 30px;
    }

    .padding-side {
        padding: 0 10px;
    }

    .textAlert {
        color: red !important;
    }

    .text-right {
        text-align: right;
    }

    .cross-text {
        text-decoration: line-through;
    }

    .half-width {
        width: 50%;
    }

    .third-width {
        width: 30%;
    }

    .quarter-width {
        width: 20%;
    }

    .flag-icon {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 1.33333333em;
        line-height: 1em;
    }

    .flag-icon:before {
        content: "\00a0";
    }

    .page {
        width: 100%;
        height: 100%;
        padding: 0 1.25em;

        h1 {
            font-size: 2.2em;

            .fa-icon {
                font-size: .8em;
            }
        }

        &:not(.no-p-t) {
            padding-top: 1em;
        }


        &.page-transition {
            animation: apparitionPageAnimation 0.5s;
        }
    }


    .invalid-input,
    .invalid-input:focus {
        background-color: rgba(255, 0, 0, 0.1);
    }

    .invalid-input:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
        border-color: rgba(255, 0, 0, 0.1);
    }

    .notification-badge {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        margin-left: -0.35rem;
        margin-top: -0.35rem;
        border: solid .15rem;
    }

    .with-scrollbar {
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 2vw;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }

}


// ANIMATION ZONE
@keyframes apparitionPageAnimation {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
        display: none !important;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes apparitionBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes disparitionBottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

// END ANIMATION ZONE



/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) and (orientation:landscape) {
    html {
        font-size: 25px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (orientation:landscape) {
    html {
        font-size: 19px;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    html {
        font-size: 2.2vh;
    }

    body {
        .page {

            &:not(.no-p-t) {
                padding-top: 2.5em;
            }

            &.page-centered {
                padding-right: 20vw;
                padding-left: 20vw;
            }
        }

        .with-scrollbar {
            &::-webkit-scrollbar {
                width: 1vw !important;
            }
        }
    }
}