// COLOR ZONE
$black: #000;
$lightBlack: rgba(33, 37, 41, 1);
$transparentBlack: #e9ecef;

$dark: #343a40;
$blue: rgb(78, 115, 223);

$green: rgb(28, 200, 138);
$lighterGreen: rgba(28, 200, 138, 0.8);
$transparentGreen: rgba(28, 200, 138, 0.2);

$lightBlue: rgb(54, 185, 204);
$lighterLightBlue: rgba(54, 185, 204, 0.8);
$transparentLightBlue: rgba(54, 185, 204, 0.2);

$orange: rgb(246, 194, 62);
$lighterOrange: rgba(246, 194, 62, 0.8);
$transparentOrange: rgba(246, 194, 62, 0.2);

$lightRed: rgb(220, 20, 60);

$red: #DD2A1B;

$IA_COLOR_GOLD: #FFCE00;
// END COLOR ZONE

// SIZE ZONE
$NAVBAR_HEIGHT: 56px;
$BIG_SCREEN_MIN_SIZE: 992px;
// END SIZE ZONE

$GIFT_OPEN_ANIMATION_DURATION: 1000;

$NAVBAR_BG: $dark;
$POPUP_HEADER_COLOR: $dark;