@import "../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#signInForm";

#{getContainerId()} {
    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #{getChildrenId("genderInputCtn")} {
        display: flex;
        justify-content: center;

        #{getChildrenId("genderInput")} {
            position: relative;
            display: inline-block;

            .gender-avatar {
                max-width: 4em;
                border-radius: .3em;
                margin: 0 .4em;
                transition-duration: .2s;

                &:not(.selected) {
                    opacity: .3;
                }

                &:hover {
                    transform: translateY(-.5em);
                }
            }

            &:hover {
                .swap-icon {
                    display: flex;
                }
            }
        }
    }

    .login-form-1 {
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

    .login-form-1 h3 {
        color: #333;
        margin-bottom: .75em;
    }

    .login-container form {
        padding: 10%;
    }

    .btn {
        width: 50%;
        padding: 1.5%;
    }

    .login-form-1 .btnSubmit {
        font-weight: 600;
        color: #fff;
        background-color: #0062cc;
    }

    .login-form-1 .ForgetPwd {
        color: #0062cc;
        font-weight: 600;
        text-decoration: none;
    }

}



@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        #{getChildrenId("genderInputCtn")} {
            #{getChildrenId("genderInput")} {
                .gender-avatar {
                    max-width: 5em;
                }

            }
        }

    }
}